/*  outline: 2px solid red;  --> for red box lining */

* {
    outline: 2px solid red; 
    box-sizing: border-box;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 32px;
    text-align: center;
    background-color: burlywood;
}

ul {
    font-weight: bold;
}

.recipelist {
    padding: 25px;
    margin-bottom: 5px;
}

.titleblock {

}

.description {
    text-align: center;
}

.ingredients {
    margin: 10px;
}

.steps {
    margin: 10px;
}